<div class="achievement-main">
    <div class="basic-achievement">
        <div class="achievement-heading-div">

            <div class="achievement-heading-img-div" data-aos="fade-right">
                <img [src]="assetPaths.ACHIEVEMENT_COVER" alt="Projects & Freelancing">
            </div>

            <div class="achievement-heading-text-div" data-aos="fade-left">
                <h1 class="achievement-heading-text">
                    {{ appConfig.achievementsPageTitle }}
                </h1>
                <p class="achievement-header-detail-text subTitle">
                    {{ appConfig.achievementsPageDescription }}
                </p>
            </div>
        </div>
    </div>

    <section class="achievements-page">

        <!-- Certificates -->

        <section class="certificates-section">

            <div class="section-title">

                <span></span>
                <h2>Certificates</h2>
                <span></span>

            </div>

            <div class="certificate-gallery">

                <!-- Remaining -->

                <div class="certificate-grid">

                    @for (certificates of appConfig.achievementsSections; track $index) {
                    @for (certificate of certificates.entities; track $index) {
                    <div class="certificate-card">

                        <img [src]="certificate.coverImagePath" [alt]="certificate.title">

                        <div class="certificate-info">

                            <h4>
                                {{ certificate.title }}
                            </h4>

                            <span>
                                {{ certificate.issueDate }}
                            </span>

                        </div>

                    </div>
                    }
                    }

                </div>

            </div>

        </section>

        <!-- Beautiful Break -->

        <div class="achievement-break">

            <div class="line"></div>

            <div class="center-icon">

                🏆

            </div>

            <div class="line"></div>

        </div>

        <!-- Awards -->

        <section class="awards-section">

            <div class="section-title">

                <span></span>
                <h2>Awards & Recognition</h2>
                <span></span>

            </div>

            <div class="awards-timeline">

                @for (awards of appConfig.awardsSection; track $index) {
                @for (award of awards.entities; track $index) {
                <div class="award-item">

                    <div class="award-image" (click)="openCertificate(award.coverImagePath)">

                        <img [src]="award.coverImagePath" [alt]="award.title">

                    </div>

                    <div class="award-content">

                        <h2>
                            {{ award.title }} - {{ award.issueDate }}
                        </h2>

                        <p>
                            {{ award.description }}
                        </p>

                    </div>

                </div>
                }
                }

            </div>

        </section>

    </section>

</div>

@if(selectedCertificate()) {

    <div
        class="certificate-modal-backdrop"
        (click)="closeCertificate()">

        <div
            class="certificate-modal"
            (click)="$event.stopPropagation()">

            <button
                class="close-btn"
                (click)="closeCertificate()">

                ✕

            </button>

            <img
                [src]="selectedCertificate()"
                alt="Certificate">

        </div>

    </div>

}