<div class="project-accordion" data-aos="fade-up">

    <details>

        <summary>

            <div class="summary-content">

                <div class="left-content">

                    <span class="year-box">
                        {{ projectData().year }}
                    </span>

                    <div class="content">

                        <h3 class="title">
                            {{ projectData().title }}
                        </h3>

                        <div class="tech-stack">

                            @for (tech of projectData().techStack; track tech) {
                                <span class="tech-chip">
                                    {{ tech }}
                                </span>
                            }

                        </div>

                    </div>

                </div>

                <svg
                    class="arrow"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24">

                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7">
                    </path>

                </svg>

            </div>

        </summary>

        <div class="details-content">

            <a
                [href]="projectData().liveLink ?? projectData().githubLink"
                target="_blank">

                <img
                    [src]="projectData().coverImagePath"
                    [alt]="projectData().title">
            </a>

            <p
                class="description"
                [title]="projectData().description">

                {{ projectData().description }}

            </p>

            <div class="actions">

                <a
                    [href]="projectData().liveLink ?? projectData().githubLink"
                    target="_blank"
                    class="primary-btn">

                    Visit

                </a>

            </div>

        </div>

    </details>

</div>